# Database
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USER="postgres"
DATABASE_PWD="postgres"

# Redis
REDIS_URL="<todo>"

# Ergo Network
CHAIN_POLL_DURATION_SECS=120
START_HEIGHT=0
NETWORK_URL="http://localhost:9053"

# Protocol
NETWORK_PREFIX="<todo>"
GENESIS_ADDRESS=""

# Indexes
INDEX_BOX_REGISTERS=true
INDEX_SCRIPT_CONSTANTS=true
INDEX_BLOCK_EXTENSIONS=true
INDEX_AD_PROOFS=true
INDEX_BLOCK_STATS=true
